fastapi==0.115.0
uvicorn==0.30.1
gunicorn==22.0.0

sqlalchemy==2.0.29
pymysql==1.1.0
python-multipart==0.0.9

pydantic==2.9.2
pydantic-settings==2.4.0
python-dotenv==1.0.1

# only if you use CORS
starlette==0.36.3

# only if you store images locally or handle images
Pillow==11.0.0
